services:
  app:
    build:
      context: ./docker/php
    container_name: plataforma_entrenamiento_app
    volumes:
      - ./src:/var/www
    working_dir: /var/www

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: plataforma_entrenamiento_db
    restart: always
    environment:
      MYSQL_DATABASE: plataforma_entrenamiento
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
