body {
    background-color: rgb(168, 72, 72);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login {
    background-color: #df2531ea;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    width: 100%;
    max-width: 400px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form label {
    margin-right: 4px;
    min-width: 100px;
    text-align: left;
}

.form input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    color: #000000ea;
    font-weight: bold;
}

.btnLogin {
    border-radius: 10px;
    border: solid transparent;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.2s;
    cursor: pointer;
}

.btnLogin:hover {
    background-color: rgb(240, 110, 110);
}

.link {
    color: rgb(0, 0, 0);
    background: transparent;
    padding: 4px;
    margin-left: 3px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s;
}

.link:hover {
    background: rgba(255, 255, 255, 0.247);
}